.AboutMe-Container {
	margin-top: 2rem;
	h1 {
		text-align: center;
		margin-bottom: 1rem;
		width: 95%;
		height: 2.5rem;
		font-size: 2rem;
	}

	.WhoAmI-Content {
		.WhoAmI-TopContent {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			margin-bottom: 1.5rem;
			img {
				border-radius: 50%;
				height: 15rem;
				width: 15rem;
			}
		}
		p {
			font-size: 1rem;
			padding: 0rem 2rem;
		}
		address {
			width: 18rem;
			padding: 0.5rem.51rem;
			background-color: black;
			border: 2px solid white;
			a {
				text-decoration: none;
				color: limegreen;
			}
		}
	}

	h1 {
		margin-top: 2rem;
	}

	.Skills {
		background-color: purple;
		width: 100%;
		height: auto;
		margin: 2rem 0rem;
		padding: 2rem 0rem;
		//border: 1px solid grey;
		display: flex;
		flex-direction: column;

		.a {
			border-top-right-radius: 0.3rem;
			border-top-left-radius: 0.3rem;
		}
		.b {
			border-bottom-right-radius: 0.3rem;
			border-bottom-left-radius: 0.3rem;
		}
		.Skills-Section {
			background-color: white;
			margin: 0rem 1rem;
			margin-bottom: 2ren;
			// width: 20rem;
			height: 20rem auto;
			h2 {
				color: purple;
				font-weight: bold;
				text-align: center;
				margin: 1rem 0rem;

				//width: 100%;
				line-height: 2rem;
				height: 2.5rem;
				font-size: 1.5rem;
				background-color: white(0, 0, 0);
				border-bottom: 1px solid grey;
				border-left: none;
				border-right: none;
			}
			p {
				text-indent: 1rem;
				padding: 0rem 1rem;
			}

			ul {
				//text-align: center;
				align-items: center;
				//list-style-type: disc;
				li {
					list-style-type: disc;
					margin: 1rem 0rem;
				}
				margin: 0rem 0rem;
				padding: 1rem 2rem;
				background-color: white(0, 0, 0);
			}
		}
	}
}

@media only screen and (min-width: 600px) {
	.AboutMe-Container {
		.AboutMe {
			.WhoAmI-Content {
				display: flex;
				flex-direction: row-reverse;
				p {
					padding: 1rem;
				}
				.WhoAmI-TopContent {
					display: flex;
				}
				.Contact {
					address {
						div {
							margin: 0.1rem 0rem;
						}
						display: flex;
						flex-direction: column;
						flex-wrap: wrap;
					}
				}
			}
		}
		.Skills {
			border: none;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			//align-items: center;
			.Skills-Section {
				margin: 1rem 0rem;
				background-color: white;
				border-radius: 0.3rem;
				//box-shadow: 4px 4px rgb(189, 189, 189);

				width: 20rem;
				height: 25rem;
			}
		}
	}
}
