.Footer {
	margin: 1rem 0rem;
	padding: 1rem, 1rem;
	background-color: black;
	display: flex;
	flex-direction: column;
	address {
		padding: 1rem 1rem;
		display: flex;
		flex-direction: column;
		email,
		phone,
		a {
			margin: 0.5rem 0rem;
			text-decoration: none;
			color: white;
		}
	}

	.Footer-Nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 1rem;
		a {
			margin: 0.5rem 0rem;
			text-align: center;
			line-height: 1.75rem;
			width: 5rem;
			height: 2rem;
			color: Black;
			background-color: white;
		}
	}
}
