$accent-color: rgb(0, 0, 163);

.Footer {
	// margin: 1rem 0rem;
	padding: 1rem, 1rem;
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	address {
		padding: 1rem 1rem;
		display: flex;
		flex-direction: column;
		div {
			font-weight: bolder;
		}
		email,
		phone {
			margin: 0.5rem 0rem;

			color: white;
		}

		a {
			display: flex;
			flex-direction: row;
			margin: 0.5rem 0rem;
			text-decoration: none;
			color: limegreen;
			p {
				margin-right: 0.3rem;
				color: white;
			}
		}
	}

	.Footer-Nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		margin-bottom: 1rem;
		margin-right: 1rem;
		a {
			padding: 0.5rem 0.5rem;
			text-align: center;
			line-height: 1rem;
			width: 5rem auto;
			//height: 2rem;
			color: white;
			background-color: transparent;
			border: 1px solid white;
			border-radius: 3rem;
			&:hover {
				cursor: pointer;
				background-color: white;
				color: $accent-color;
				border: 1px solid $accent-color;
			}
		}
	}
}
