$accent-color: #001349;

.Header-Container {
	height: 90vh;
	background-image: url("../imgs/Blue_Mountains.png");
  
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	.Statement-Container {
		justify-content: center;
		height: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		h1 {
			font-size: 2.3rem;
			font-weight: bold;

			text-align: center;
			margin-bottom: 1rem;
			line-height: 2rem;
			height: 2rem;
			width: 70%;
		}
		p {
			padding-top: 7rem;
			color: white;
			text-align: center;
			font-size: 3rem;
			width: 80%;
		}
	}
	.Icons {
		width: 10vw;
		display: flex;
		justify-content: space-between;
		.Icon {
			width: 3rem;
			height: 3rem;
			&:hover {
				filter: contrast(10%);
			}
		}
	}

	.LearnMore {
		cursor: pointer;
		color: white;
		width: 55%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		div {
			margin-bottom: 1rem;
		}
	}
}
//@media only screen and (max-width: 800px) {
@media (min-width: 800px) {
	.Header-Container {
		.Statement-Container {
			p {
				font-size: 4rem;
			}
		}
	}
}
