$accent-color: #001349;
.Container {
	.NavBar {
		width: 100%;
		height: 3rem;
		background-color: white;
		color: $accent-color;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.Logo-Title {
			display: flex;
			flex-direction: row;
			.Logo {
				height: 100%;
				width: auto;
			}
			h1 {
				align-self: center;
				font-size: 1.5rem;
				margin-left: 0.5rem;
			}
		}
		.Button {
			text-decoration: none;
			padding: 0.3rem 0.3rem;
			text-align: center;
			line-height: 1rem;
			color: $accent-color;
			background-color: transparent;
			border: 1px solid $accent-color;
			border-radius: 0.5rem;
			&:hover {
				background-color: $accent-color;
				color: white;
				border: 1px solid $accent-color;
			}
			width: 10%;
			height: 65%;
			align-self: center;
			margin-right: 1rem;
		}
	}

	.link {
		margin: 1rem 0rem 1rem 0rem;
	}
	.DropDown {
		display: flex;
		flex-direction: column;
		height: 15rem;
		align-items: center;
		justify-content: space-around;
		.Button {
			text-decoration: none;
			background-color: white;
			color: $accent-color;
			width: 100%;
			height: 100%;
			border-bottom: 1px solid $accent-color;
			text-align: center;
			line-height: 3rem;
			&:first-child {
				border-top: 1px solid $accent-color;
			}
		}
	}
	.NavBarBig {
		.Button {
			font-size: 0.75rem;
			font-weight: bold;
			width: 4.5rem;
			height: 1rem;
		}
	}
	.Close {
		display: none;
	}
}
@media only screen and (max-width: 800px) {
	.NavBarBig {
		display: none;
	}
}

@media only screen and (min-width: 800px) {
	.NavBar {
		.NavBarBig {
			display: flex;
			color: $accent-color;
		}
		.DropDown {
			display: none;
		}
	}
}
