$accent-color: rgb(0, 0, 163);
.Container {
	.NavBar {
		width: 100%;
		height: 3rem;
		background-color: white;
		color: $accent-color;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		h1 {
			align-self: center;
			font-size: 1.5rem;
			margin-left: 0.5rem;
		}
		button {
			padding: 0.5rem 0.5rem;
			text-align: center;
			line-height: 1rem;
			width: 5rem;
			//height: 2rem;
			color: $accent-color;
			background-color: transparent;
			border: 1px solid $accent-color;
			border-radius: 3rem;
			&:hover {
				background-color: $accent-color;
				color: white;
				border: 1px solid $accent-color;
			}
			width: 10%;
			height: 65%;
			align-self: center;
			margin-right: 1rem;
		}
	}

	.link {
		margin: 1rem 0rem 1rem 0rem;
	}
	.DropDown {
		display: flex;
		flex-direction: column;
		height: 10rem;
		align-items: center;
		justify-content: space-around;
		div {
			background-color: white;
			color: $accent-color;
			width: 100%;
			height: 100%;
			border-bottom: 1px solid $accent-color;
			text-align: center;
			line-height: 3rem;
			&:first-child {
				border-top: 1px solid $accent-color;
			}
		}
	}
	.NavBarBig {
		button {
			width: 6rem;
		}
	}
	.Close {
		display: none;
	}
}
@media only screen and (max-width: 800px) {
	.NavBarBig {
		display: none;
	}
}

@media only screen and (min-width: 800px) {
	.NavBar {
		.NavBarBig {
			display: flex;
			color: $accent-color;
		}
		.DropDown {
			display: none;
		}
	}
}
