$accent-color: rgb(0, 0, 163);
@mixin border {
	background-color: $accent-color;
	color: white;
	//border: 2px solid black;
}
@mixin sectionAlignment {
	align-self: center;
	padding: 0.5rem;
	h2 {
		font-size: 1.3rem;
		text-align: center;
	}
}

.ProjectContainer {
	background-color: $accent-color;
	h1 {
		width: 100%;
		font-size: 2rem;
		color: white;
	}
	.Projects {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		.ProjectImg {
			margin: 1rem;
			width: 35rem;
		}
	}
}
